// good-looking theme
$primary: #9ab6da;
$secondary: #9ab6da;
$dark: #386086;
$light: #6db312;
$success: #66ab57;
$info: #9ab6da;
$warning: #e49b1f;
$danger: #f44336;


@import "~bootstrap/scss/bootstrap.scss";